.main {
  background-color: rgb(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main .main-button-wrapper {
  background-color: #ffffff;
  height: 1080px;
  width: 1920px;
}

.main .main-button-2 {
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 58px;
}

.main .design-component-instance-node {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  z-index: 999;
}

.overlay > * {
  pointer-events: auto;
}
