.food-button {
  background-image: url(https://sunny.bixmy.party/cdn/images/sprite-extension/UI-Customer-Tab4.png); /* ใช้ texture เดิม */
  background-position: center;
  background-size: cover;
  height: 63px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4px 6px;
  box-sizing: border-box;
  position: relative;
  gap: 8px;
  cursor: pointer;
}
.food-button:hover {
  background-image: url(../../../src/Sprite-Extension/UI-Customer-Tab4-Selected.png); /* 🔁 เปลี่ยนตามภาพที่คุณให้ */
}

.food-button.selected {
  background-image: url(../../../src/Sprite-Extension/UI-Customer-Tab4-Selected.png);
}

.food-icon-group {
  background-image: url(../../../static/img/foodicongroup-7.png); /* กรอบสีเขียวจาง */
  background-size: cover;
  width: 53px;
  height: 59px;
  position: relative;
}

.food-icon {
  width: 45px;
  height: 46px;
  position: absolute;
  top: 4px;
  left: 4px;
  image-rendering: pixelated;
  object-fit: contain;
  width: 100px;
  height: 100px;
  transform: scale(0.48);
  transform-origin: top left;
  position: center;
  top: 3px;
  left: 3px;
}

.food-name-wrapper {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.food-name {
  font-family: "Noto Sans", Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: black;
  margin: 0;
  width: 110px;
}
