.customer-button {
  background-image: url(../../Sprite-Extension/UI-General-Tab5.png);
  background-position: center;
  background-size: cover;
  height: 58px;
  width: 58px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease, background-image 0.2s ease;
}

.customer-button:hover {
  background-image: url(../../Sprite-Extension/UI-General-Tab5-Selected.png);
  transform: scale(1.05) translateY(2px);
}
