.queue-button {
  background-image: url(../../../static/img/ui-general-tab3-1-16.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 116px;
  left: 20px;
  position: relative;
  top: 20px;
  width: 116px;
}

.queue-button:hover {
  background-image: url(../../../static/img/ui-general-tab3-1-17.png);
  top: 156px;
}
