.queue-button {
  background-image: url(../../Sprite-Extension/UI-General-Tab3.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 58px;
  width: 58px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease, background-image 0.2s ease;
}

.queue-button:hover {
  background-image: url(../../Sprite-Extension/UI-General-Tab3-Selected.png);
  transform: scale(1.05) translateY(2px); /* ✅ เพิ่มความรู้สึก "คลิก" */
}
